<div class="container">
  <header>
    <h1>Aprende Lenguaje de Señas</h1>
    <nav>
      <a routerLink="/" class="nav-link">Inicio</a>
      <a routerLink="/lessons" class="nav-link">Lecciones</a>
      <a routerLink="/sign-in" class="nav-link">Registrarse</a>
      <a routerLink="/log-in" class="nav-link">Iniciar Sesión</a>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet> <!-- Aquí se renderizan las páginas -->
  </main>

  <footer>
    <p>© 2025 Lenguaje de Señas App</p>
  </footer>
</div>
